@model IEnumerable<Du_An.Models.HocSinh>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenHs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gvcn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdnienKhoaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaLopNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaMhNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenHs)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgaySinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gvcn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdnienKhoaNavigation.IdnienKhoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaLopNavigation.MaLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaMhNavigation.MaMh)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHs">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHs">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHs">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
